* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Roboto,
sans-serif;
}

body {
    color: white;
    background: #4E7177;
}

.timer__block {
    display: block;
    margin: 170px 30%;
}

#calendar {
    margin: 20px auto;
    font-size: 24px;
    height: 50px;
}

.timer__block-title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.timer__block-clock {
    display: flex;
    justify-content: space-between;
}

.timer__block-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 15px;
    width: 100px;
    height: 100px;
    left: 578px;
    top: 217px;
    background: #BB4340;
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.4),
    0px 12px 42px -4px rgba(24, 39, 75, 0.4);
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

span {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}